<template>
  <v-snackbar
    top
    center
    v-model="notification.visible"
    :timeout="notification.timeout"
    :multi-line="true"
    :color="notification.color"
  >
    <span class="snack">{{ notification.text }}</span>
  </v-snackbar>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      notification: "getNotification",
    }),
  },
  methods: {
    closeNotification() {
      this.$store.dispatch("CloseNotification");
    },
  },
};
</script>
