<template>
  <v-switch v-bind="$attrs" hide-details @change="handleToggle" v-model="toggleValue"></v-switch>
</template>

<script>

export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
    modelName: {
      type: String,
      default: null,
    },
    modelId: {
      type: Number,
      default: null,
    },
    field: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: "visible",
    },
    value: {
      type: Boolean,
      default: false
    },
  },
  watch: {
    value: {
      handler(value) {
        this.toggleValue = value;
      },
      immediate: true,
    },
  },
  data() {
    return {
      toggleValue: false,
    };
  },
  methods: {
    handleToggle() {
      let data = { _method: "put", [this.type]: this.toggleValue, locale: this.$i18n.locale };
      this.axios({
        url: `/${this.modelName}/${this.modelId}`,
        method: "post",
        data,
      })
        .catch(() => {
          this.toggleValue = !this.toggleValue;
        });
    },
  },
};
</script>
