* {
    font-family: 'Tajwal', sans-serif;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}