<template>
  <v-app>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <div class="text-center">
          <img :src="require('@/assets/images/404.svg')">
          <h2 class="my-3 text-center">
            {{ $t("not_found") }}
          </h2>
          <div class="text-center">
            <Button to="/home" color="primary">{{ $t("go_home") }}</Button>
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-app>
</template>