<template>
  <v-container>
    <v-breadcrumbs class="mt-6" large :items="breadcrumbs" />
    <v-row class="mt-6">
      <v-col cols="12">
        <ValidationObserver ref="form" v-slot="{ handleSubmit }">
          <v-form @submit.prevent="handleSubmit(SubmitForm)">
            <v-card class="pa-10 mb-5">
              <v-row>
                <v-col cols="12" md="3" class="mx-auto" v-if="isEdit">
                  <LocaleSelector @on-change="handleShow" />
                </v-col>
              </v-row>
              <v-row class="align-center">
                <v-col cols="12" lg="6" class="py-0 position-relative">
                  <v-label>
                    <span class="font-medium mb-2">
                      {{ $t("name") }}
                    </span>
                  </v-label>
                  <FormGroup rules="required|min:3|max:190" name="name" errorName="name">
                    <template #default="{ attrs }">
                      <v-text-field
                        :placeholder="$t('enter_name')"
                        outlined
                        v-bind="attrs"
                        v-model="form.name"
                      >
                      </v-text-field>
                    </template>
                  </FormGroup>
                </v-col>
                <v-col cols="12" lg="6">
                  <v-row>
                    <v-col cols="12" class="py-0 position-relative">
                      <v-label>
                        <span class="font-medium mb-2">
                          {{ $t("select_status") }}
                        </span>
                      </v-label>
                      <FormGroup rules="required" name="visible" errorName="visible">
                        <v-select
                          outlined
                          :items="statusOptions"
                          item-text="name"
                          item-value="value"
                          v-model="form.visible"
                        ></v-select>
                      </FormGroup>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
            <div class="text-center actions-btns d-flex justify-end mb-10">
              <Button type="submit" :loading="loading" class="primary mx-5">
                <v-icon left dense>mdi-content-save</v-icon>
                {{ $t("save") }}
              </Button>
              <Button type="button" outlined color="primary" to="/topics">
                {{ $t("back") }}
              </Button>
            </div>
          </v-form>
        </ValidationObserver>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    isEdit: false,
    form: {
      name: "",
      visible: 1,
    },
    loading: false,
  }),
  computed: {
    statusOptions() {
      return [
        {
          name: this.$t("active"),
          value: 1,
        },
        {
          name: this.$t("in_active"),
          value: 0,
        },
      ];
    },
    breadcrumbs() {
      return [
        {
          text: this.$t("topics"),
          disabled: false,
        },

        {
          text: this.textChange,
          disabled: true,
        },
      ];
    },
    textChange() {
      if (this.isEdit) {
        return this.$t("edit");
      } else {
        return this.$t("add");
      }
    },
  },
  methods: {
    async handleShow() {
      const res = await this.axios.get(`/admin-panel/topics/${this.$route.params.id}`);
      const { topic } = res.data;
      this.form.name = topic.name;
      this.form.visible = topic.visible ? 1 : 0;
    },
    generateFormData() {
      const formData = new FormData();
      formData.append("name", this.form.name);
      formData.append("visible", this.form.visible);
      if (this.isEdit) {
        formData.append("_method", "put");
        formData.append("locale", this.getLocale);
      }
      return formData;
    },
    handleCreate() {
      this.axios
        .post(`topics`, this.generateFormData())
        .then(() => {
          this.$router.push("/topics");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    handleUpdate() {
      this.axios
        .post(`topics/${this.$route.params.id}`, this.generateFormData())
        .then(() => {
          this.$router.push("/topics");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    SubmitForm() {
      this.$refs.form.validate().then((success) => {
        if (success) {
          this.onConfirm();
        }
      });
    },
    onConfirm() {
      this.loading = true;
      if (this.isEdit) {
        this.handleUpdate();
      } else {
        this.handleCreate();
      }
    },
  },
  mounted() {
    if (this.isEdit) {
      this.handleShow();
    }
  },
  watch: {
    $route: {
      handler({ params }) {
        if (params.id) {
          this.isEdit = true;
        } else {
          this.isEdit = false;
        }
      },
      immediate: true,
    },
  },
};
</script>
