.v-text-field__details {
    position: absolute !important;
    bottom: 19px !important;
    left: -1px;

    @include langLtr {
        left: unset;
        right: -1px;
    }

    @include mobile {
        bottom: 9px !important;
    }

    .v-messages__message {
        &::after {
            content: "";
            background-image: url(../images/error.svg);
            background-repeat: no-repeat;
            background-size: 14px;
            width: 19px;
            height: 23px;
            display: inline-block;
            margin-top: -17px;
            position: relative;
            top: 13px;

        }


    }
}

.v-input__slot {
    @include mobile {
        padding: 15px 10px  !important;
    }
}

.success-msg {
    color: var(--success);
    font-size: 13px;
    position: absolute;
    left: 25px;
    top: 39px;

    @include langLtr {
        left: unset;
        right: 25px;
    }

    @include mobile {
        top: 64px;
    }
}