<template>
  <v-navigation-drawer v-model="drawer" :width="drawerWidth" v-click-outside="closeDrawer" :right="right" fixed app>
    <v-list>
      <v-list-item class="px-2">
        <div class="mx-auto d-flex justify-center align-center rounded-circle px-2">
          <img  height="50px" class="my-6" :src="require('@/assets/images/logo.svg')" />
        </div>
      </v-list-item>
    </v-list>
    <v-list>
      <v-list-item @click="switchDrawer" v-for="(route, index) in asyncRoutes" :key="index" :to="route.to">
        <v-list-item-content>
          <v-list-item-title>
            <v-icon>
              {{ route.meta.icon }}
            </v-icon>
            {{ $t(route.meta.title) }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
import { mapGetters } from "vuex";
import { getLanguage } from "@/utils/languages";
import { asyncRoutes } from "@/router/asyncRoutes";
export default {
  data() {
    return {
      drawerWidth: 320,
      right: true,
      asyncRoutes,
    };
  },
  computed: {
    ...mapGetters({
      drawer: "getDrawer",
    }),
    drawer: {
      get() {
        return this.$store.state.drawer.drawer
      },
      set(val) {
        return val;
      }
    },
  },
  mounted() {
    this.handleDirection();
  },
  methods: {
    closeDrawer(e) {
      if (e.target.className === "v-overlay__scrim") {
        this.switchDrawer()
      }
    },
    switchDrawer() {
      if (this.$vuetify.breakpoint.mobile) {
        this.$store.dispatch("setDrawer", !this.drawer)
      }
    },
    handleDirection() {
      getLanguage() == "ar" ? this.right = true : this.right = false;
    },
  },
  watch: {
    "$vuetify.breakpoint.mobile": {
      handler() {
        if (this.$vuetify.breakpoint.mobile) {
          this.$store.dispatch("setDrawer", false);
        } else {
          this.$store.dispatch("setDrawer", true);
        }
      },
      immediate: true,
      deep: true
    },
  },
};
</script>
