<template>
  <v-container>
    <v-toolbar flat>
      <v-breadcrumbs large :items="breadcrumbs" divider="/"></v-breadcrumbs>
      <v-spacer />
      <Button to="topics/add" color="primary">
        {{ $t('add') }}
      </Button>
    </v-toolbar>
    <div cols="12" class="mt-8">
      <CustomTable :tableHeaders="headers" reqName="/topics">
        <template slot-scope="{ item, index }">
          <td>{{ index + pagination.from }}</td>
          <td>{{ item.name }}</td>
          <td>
            <toggle-service model-name="topics" :model-id="item.id" field="is_visible" v-model="item.is_visible" />
          </td>
          <td class="d-flex pt-1">
            <router-link class="mx-1" :to="`/topics/${item.id}/edit`">
              <img width="30" height="30" :src="require('@/assets/images/edit.svg')">
            </router-link>
            <Button depressed text @click="handleDelete(item)">
              <img width="30" height="30" :src="require('@/assets/images/delete.svg')">
            </Button>
          </td>
        </template>
      </CustomTable>
    </div>
    <GenericDialog :dialog.sync="dialog" reqName="topics" :tableItem="tableItem" />
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      dialog: false,
      tableItem: {}
    };
  },
  computed: {
    breadcrumbs() {
      return [
        {
          text: this.$t("topics"),
          disabled: false
        },
        {
          text: this.$t("topics_record"),
          disabled: true
        }
      ];
    },
    headers() {
      return [
        {
          name: "#",
          value: "#"
        },
        {
          name: "name",
          value: "name",
        },
        {
          name: "status",
          value: "visible",
        },

        {
          name: "actions",
          value:"actions"
        }
      ];
    }
  },
  methods: {
    handleDelete(item) {
      this.tableItem = item;
      this.dialog = !this.dialog;
    }
  }
};
</script>
