<template>
  <ValidationProvider ref="ValidationProvider_ref" v-slot="{ errors }" v-bind="$attrs" v-on="$listeners">
    <slot :attrs="{
      'error-messages':
        (serverErrors && serverErrors[$attrs.errorName]) || errors
    }" :hasError="errors[0] || (serverErrors && serverErrors[$attrs.errorName])" />

    <SuccessMessage v-if="!errors[0] && !(serverErrors && serverErrors[$attrs.errorName])
      && $refs.ValidationProvider_ref?.flags?.dirty" :top="top" :margin="margin" />
  </ValidationProvider>
</template>
<script>
import SuccessMessage from "@/components/FormGroup/SuccessMessage"
import { mapGetters } from "vuex";
export default {
  components: {
    SuccessMessage
  },
  computed: {
    ...mapGetters({
      serverErrors: "getServerErrors",
    }),
  },
  props: {
    top: {
      type: String,
      default: '',
    },
    margin: {
      type: String,
      default: '',
    },
  },
};
</script>
