<template>
  <v-app-bar fixed app>
    <v-app-bar-nav-icon @click.stop="switchDrawer" />
    <v-spacer />
    <div class="d-flex justify-center align-center">
      <v-btn icon title="language" class="mt-0" @click="handleChangeLanguage">
        <v-icon>mdi-earth</v-icon>
      </v-btn>
      <img width="45" height="45" :src="require('@/assets/images/user.png')" />
      <div class="d-flex flex-column mx-2">
        <p class="mb-0 font-weight-bold">
          {{ user.firstname }} 
        </p>
      </div>
    </div>
    <div class="d-flex justify-center align-center">
      <Button @click="logout" color="error">{{ $t("logout") }}</Button>
    </div>
  </v-app-bar>
</template>
<script>
import { mapGetters } from "vuex";
import { setLanguage } from "@/utils/languages";
export default {
  computed: {
    ...mapGetters({
      drawer: "getDrawer",
    }),
  },
  methods: {
    handleChangeLanguage() {
      this.$i18n.locale == "ar" ? setLanguage("en") : setLanguage("ar");
      window.location.reload();
    },
    switchDrawer() {
      this.$store.dispatch("setDrawer", !this.drawer);
    },
    logout() {
      this.$store.dispatch("Logout").then(() => {
        this.$router.push("/login");
      });
    },
  },
};
</script>
