<template>
    <div  class="d-flex justify-center align-center success-msg"
        :style="`top:${top}px; margin:${margin}px;`">
        <p class="mb-0 mx-1">
            {{ $t('validation.success') }}
        </p>
        <img width="20" height="20" :src="require('@/assets/images/success.svg')">
    </div>
</template>

<script>
export default {
    props: {
        top: {
            type: String,
            default: '',
        },
        margin: {
            type: String,
            default: '',
        },
    },

};
</script>
