<template>
    <div class="loader-wrap style-four">
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>
</template>
<script>
export default {
    name: "Preloader"
}
</script>