<template>
  <section class="d-flex justify-center align-center h-100 px-3">
    <v-card max-width="600" class="py-5">
      <div class="mx-auto d-flex justify-center align-center rounded-circle px-2">
        <img height="50px" class="my-6" :src="require('@/assets/images/logo.svg')" />
      </div>
      <v-card-text>
        <v-row>
          <v-col cols="12" class="mx-auto">
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
              <v-form @submit.prevent="handleSubmit(handleLogin)">
                <v-row>
                  <v-col cols="12" class="py-0 position-relative">
                    <FormGroup rules="required|min:9|max:15" name="phone" errorName="phone">
                      <template #default="{ attrs }">
                        <v-label class="d-block font-weight-bold mb-2">
                          {{ $t("phone") }}</v-label
                        >
                        <v-text-field
                          v-bind="attrs"
                          v-model="form.phone"
                          class="mt-1"
                          outlined
                          autocomplete
                        >
                        </v-text-field>
                      </template>
                    </FormGroup>
                  </v-col>
                  <v-col cols="12" class="py-0 position-relative">
                    <FormGroup
                      rules="required|min:8|max:50"
                      name="password"
                      errorName="password"
                    >
                      <template #default="{ attrs }">
                        <v-label class="d-block font-weight-bold mb-2">{{
                          $t("password")
                        }}</v-label>
                        <v-text-field
                          type="password"
                          v-bind="attrs"
                          class="mt-1"
                          outlined
                          v-model="form.password"
                          autocomplete
                        ></v-text-field>
                      </template>
                    </FormGroup>
                  </v-col>
                  <v-col cols="12" class="py-0">
                    <v-card-actions class="px-0 justify-center">
                      <Button
                        :loading="loading"
                        large
                        class="px-10"
                        block
                        color="primary"
                        type="submit"
                        >{{ $t("login") }}</Button
                      >
                    </v-card-actions>
                  </v-col>
                </v-row>
              </v-form>
            </ValidationObserver>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      form: {
        country_code:"0020",
        phone:"1234567890",
        password: "12341234",
      },
      loading: false,
    };
  },
  methods: {
    generateFormData() {
      const formData = new FormData();
      formData.append("phone[country_code]", this.form.country_code);
      formData.append("phone[number]", this.form.phone);
      formData.append("password", this.form.password);
      return formData;
    },
    handleLogin() {
      this.loading = true;
      this.$store
        .dispatch("Login", this.generateFormData())
        .then(() => {
          this.$router.push("/home");
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>
