<template>
  <div>
    <Preloader />
    <Header />
    <SideBar />
    <router-view />
  </div>
</template>
<script>
import SideBar from "@/components/Layout/SideBar";
import Header from "@/components/Layout/Header";
import Preloader from "@/components/Preloader";
export default {
  name: "DefaultLayout",
  components: {
    SideBar,
    Header,
    Preloader,
  },
};
</script>
